git+git://github.com/myxie/shadow@development#egg=shadow
alabaster>=0.7.12
networkx>=2.6
pandas==1.2.4
Sphinx>=2.1.2
simpy>=3.0.11
matplotlib>=3.1.1
coverage>=4.5.4
coveralls>=1.8.2
bokeh>=1.4
nbserverproxy
